*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;  
}

.navbar ul{
    height: 4rem;
    box-shadow: 0rem 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    list-style: none; 
    display: flex ;
    align-items: center;
    justify-content: end;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.3rem;
    
}
.navbar li{
    padding: 1.5rem;
    
}
.bt1{
    display: none;
}
.bt2{
    display: none;
}
.dropdown{
    display: none;
}
.navbar a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
.navbar a:hover,nav a:focus{
    color: cornflowerblue;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    box-shadow: 0rem 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.9rem;
    width: 22%;
    height: 20rem;
    margin: 1.625rem;
    margin-top: 1.8rem;
    
    
}
.box1{
    background-image: linear-gradient(to bottom right,rgba(51, 0, 255, 1),rgba(250, 0, 255, 1));
}
.box2{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 1rem;
    
}
.box3{
    background: #D9D9D9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.625rem;
}

.square{
    /* border: 1px solid black; */
    margin: 0.4rem;
    border-radius: 0.9375rem;
    background: #00407A;
    margin: 0.25rem;
}

@media ((max-width:51.25rem) ){
    .Home{
        padding: 1.25rem;
    }
    .Grid{
        padding: 1.25rem;
    }
    .Linkedin{
        padding: 1.25rem;
    }
    .content{
        display: grid; 
        /* grid-template-rows: auto auto; */
        grid-template-columns: 1fr 1fr;
        gap: 0.1rem;
        /* background-color: #00407A; */
        justify-content: center; 
        align-items: center;
        /* padding: 2rem; */

        
    }
    .box1{
        grid-column-start: 1;
        grid-column-end: 3;
        width: auto;
    }
    .box2{

        grid-column: 1;
        width: auto;
        
    }
    .box3{
        grid-column: 2;
        width: auto;
        
    }
    
}
    

@media ((max-width:25.938rem) ){


    .navbar ul{
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding: 1rem;
        
        
        
    }

    .navbar li{
        display: none;
        padding: 1.5rem;
        
    }
    .bt1{
        display: flex;
        height: 1.5rem;
        
    }
    .menu.clicked + .dropdown{
        display: block;
    }
    
    /* .navbar a{
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
        
        
    }
    .navbar a:hover,nav a:focus{
        color: cornflowerblue;
        
    } */
    .Home{
        padding: 1rem;
    }
    .Grid{
        padding: 1rem;
    }
    .Linkedin{
        padding: 1rem;
    }
    .content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        max-height: 100%;
        /* background-color: black;      */
    }
    .box{
        height: 14rem;
        width: 75%;
    }

}
.tapped{
    background: rgba(122, 0, 0, 1);
}

.untapped{
    background: #00407A;
}


