*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;  
}


.navbar{
    height: 55px;
    box-shadow: 0rem 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 2rem;
}

.Home{
    padding: 1.5rem;
}
.Grid{
    padding: 1.5rem;
}
.Linkedin{
    padding: 1.5rem;
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
}



.box{
    box-shadow: 0rem 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.9rem;
    width: 20%;
    height: 20rem;
    margin-top: 1.5rem;
    margin: 1.1rem;
    
    
}

.box1{
    
    background-image: linear-gradient(to bottom right,rgba(51, 0, 255, 1),rgba(250, 0, 255, 1));
}

.box2{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* padding: 1rem; */
}
.box2-img{
    /* border-radius: 0.9rem; */
    /* border: 0.063rem solid black; */
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat; 
    background-size: contain; 

    padding: 5rem;
    
}
.box3{

    background: #D9D9D9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.625rem;
    
    
        
}

.square{
    /* border: 1px solid black; */
    margin: 0.4rem;
    border-radius: 0.9375rem;
    background: #00407A;
    margin: 0.25rem;
}



