*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    border: border-box  /*paading includes in content area */
}


.navbar{
    height: 55px;
    /* width: 100%; */
    /* border: 2px solid black; */
    box-shadow: 0rem 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 2rem;
    /* padding-bottom: 4rem; */
    

}

.Home{
    padding: 1.5rem;
}
.Grid{
    padding: 1.5rem;
}
.Linkedin{
    padding: 1.5rem;
}


.content{
    display: flex;
}



.box{
    /* border: 2px solid black; */
    box-shadow: 0rem 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    width: 20%;
    height: 20rem;
    margin: 2rem;
    border: 2px solid black;
    align-items: center;
    
}

.box1{
    margin-left: 15.0rem ;
}
.box3{
    margin-right: 1.5rem;
}


